<template>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                             <div class="col-md-12 text-center">
                                <h1>Login</h1>
                             </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                          <input type="email" v-model="input.username"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                       </div>
                       <div class="form-group">
                          <label for="exampleInputEmail1">Password</label>
                          <input type="password" v-model="input.password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                       </div>
                       <div class="form-group">
                          <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                       </div>
                       <div class="col-md-12 text-center ">
                          <button type="button" v-on:click="login()" class="btn btn-block mybtn btn-primary tx-tfm">Login</button>
                       </div>
                       <div class="form-group">
                          <p class="text-center">Don't have account? <router-link to="/register">Sign up here</router-link></p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import axios from 'axios';
export default {
   name: 'Login',
   components: {
  
   },
   data() {
      return {
         input:{
            username : "",
            password : ""
         }
      };
   },
   methods: {
      login() {
        axios({
            method: 'post',
            headers: {}, 
            url: 'http://localhost:3200/api/v1/login',
            data: {
              firstName: 'Finn',
              lastName: 'Williams'
            }
          })
          .then(response => {
            console.log(response.data)
          })
          .catch(() => console.log('error occured'))
      }
    }
}
</script>