<template>
	<div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
				<div id="second">
                    <div class="myform form ">
                        <div class="logo mb-3">
                           <div class="col-md-12 text-center">
                              <h1 >Signup</h1>
                           </div>
                        </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">First Name</label>
                              <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Last Name</label>
                              <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Lastname">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Password</label>
                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                           </div>
                           <div class="col-md-12 text-center mb-3">
                              <button type="button" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started For Free</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="form-group">
                                 <p class="text-center">Already have an account? <router-link to="/login"> Login</router-link></p>
                              </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
   name: 'Register',
   components: {
  
   },
   data() {
      return {
         input:{
            firstname : "",
            lastname : "",
            email : "",
            password : ""
         }
      };
   },
   methods: {
      login() {
        axios({
            method: 'post',
            headers: {}, 
            url: 'http://localhost:3200/api/v1/login',
            data: {
              firstName: 'Finn',
              lastName: 'Williams'
            }
          })
          .then(response => {
            console.log(response.data)
          })
          .catch(() => console.log('error occured'))
      }
    }
}
</script>